.fullScreen {
  width: 100% !important;
  max-width: 100%;
}

.chat-page-grid {
  padding: 1rem;
}

.chat-container {
  display: flex;
  height: 90vh;
  padding: 1rem;
  overflow: hidden;
  width: 100%;
}
